.text-red {color: #EE4B41;}
.text-orange {color: #F69737;}
.text-yellow {color: #FEF013;}
.text-green {color: #5BA47A;}
.text-blue {color: #3986BE;}
.text-grey {color: #363435;}
.bg-red {background-color: #EE4B41;}
.bg-orange {background-color: #F69737;}
.bg-yellow {background-color: #FEF013;}
.bg-green {background-color: #5BA47A;}
.bg-blue {background-color: #3986BE;}
.bg-grey {background-color: #363435;}