/*custom css
Author : Raj Ariyan*/
body, h4, h2, p{
	margin: 0;
	padding: 0;
	font-family: tahoma;
}
.wrapper
	{
	position: fixed !important;
    height: 100% !important;
    width: 100%;
	}
.glyphicon {
    font-size: 35px;
	color: #A78B2F;
}
.bar{
	background: #5F2966;
	height: 40px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 30px;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}
.full_row{
	width: 100%;
	float: left;
	height: auto;
	border-bottom: 2px solid #5F2966;
}
.content{
	width: 80%;
	margin: 0 auto;
}
.left{
	width: 50%;
	height: auto;
	float: left;
}
.middle{
	width: 30%;
	height: auto;
	float: left;
	padding-top: 40px;
}
.right{
	width: 20%;
	height: auto;
	float: left;
	padding-top: 30px;
}
.gol_tex{
	color: #A78B2F;
	text-transform: uppercase;
}
.special{
	border-bottom: 1px solid #5F2966;
}

@media only screen and (min-device-width : 280px) and (max-device-width : 415px) {
	
	.wrapper
	{
	position: fixed !important;
    height: 100% !important;
    width: 100%;
	}
}

@media only screen and (max-device-width : 360px) {
	.glyphicon {
    font-size: 30px;
	color: #A78B2F;
	}
	.gol_tex{
	font-size: 14px;
	}
	.middle{
	padding-top: 42px;
	}
	.content{
	width: 90%;
	margin: 0 auto;
}
}
