/*custom css
Author : Alex Seif*/
body, h4, h2, p {
  margin: 0;
  padding: 0;
  /*  font-family: tahoma;*/
  /*color: #fff;*/
}

body {
  /*background-image: url(/api/images/Wallpaper.jpg);*/
  /*background-repeat: no-repeat;*/
  background-color: #363435;
  /*background-size: cover;*/
}

.wrapper {
  margin: 0 auto;
  position: fixed !important;
  height: 100% !important;
  width: 100%;
}

h5, .h5 {
  font-size: 2em;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
header {
  position: absolute;
  width: 100%;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  /*line-height: 60px;  Vertically center the text there */
}
/* Sticky footer styles
-------------------------------------------------- */

.bar{
  background: #5F2966;
  height: 40px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 30px;
}
.pur_ico{
  text-transform: uppercase;
  color: #5F2966;
}
.pur_tex{
  text-transform: uppercase;
  color: #5F2966;
}
.gol_tex{
  color: #A78B2F;
  text-transform: uppercase;
}
.icon_item_one{
  margin-bottom: 30px;
}
.icon_item_two, .icon_item_three, .icon_item_four, .icon_item_five, .icon_item_six, .icon_item_seven{
  margin-bottom: 30px;
}
.text_item_one{
  margin-top: 15px;
  margin-bottom: 70px;
}
.text_item_two, .text_item_three, .text_item_four,.text_item_five,.text_item_six, .text_item_seven {
  margin-bottom: 60px;
}
.glyp_one{
  margin-bottom: 50px;
  margin-top: 5px;	
}
.glyp_two, .glyp_three, .glyp_four, .glyp_five,.glyp_six, .glyp_seven{
  margin-bottom: 42px;

}
.one{
  width: 10%;
  float: left;
}
.two{
  width: 30%;
  float: left;
}
.three{
  width: 15%;
  float: left;
}
.four{
  width: 30%;
  float: left;
  border-right: 1px solid #A78B2F; 
  padding-bottom: 25px;
}
.five{
  width: 15%;
  float: left;
}

/*responsive media queries*/

@media only screen and (min-device-width : 380px) and (max-device-width : 440px) {
  .pur_ico {
    font-size: 22px;
  }
  .pur_tex {
    font-size: 12px;
  }
  .gol_tex {
    font-size: 13px;
  }
  .text_item_two, .text_item_three, .text_item_four,.text_item_five,.text_item_six, .text_item_seven {
    margin-bottom: 60px;
  }
  .text_item_one{
    margin-top: 10px;
    margin-bottom: 52px;
  }
  .glyphicon {
    font-size: 25px;

  }
}
@media only screen and (min-device-width : 310px) and (max-device-width : 379px) {
  .pur_ico {
    font-size: 19px;
  }
  .pur_tex {
    font-size: 10px;
  }
  .gol_tex {
    font-size: 11px;
  }
  .text_item_two, .text_item_three, .text_item_four,.text_item_five,.text_item_six, .text_item_seven {
    margin-bottom: 55px;
    padding-left: 3%;
  }
  .text_item_one{
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .glyphicon {
    font-size: 20px;

  }
}

@media only screen and (min-device-width : 280px) and (max-device-width : 415px) {

  .wrapper
  {
    position: fixed !important;
    height: 100% !important;
  }
}
@media only screen and (min-device-width : 280px) and (max-device-width : 309px) {

  .pur_ico {
    font-size: 17px;
  }
  .pur_tex {
    font-size: 9px;
  }
  .gol_tex {
    font-size: 10px;
  }
  .text_item_two, .text_item_three, .text_item_four,.text_item_five,.text_item_six, .text_item_seven {
    margin-bottom: 55px;
    padding-left: 2%;

  }
  .text_item_one{
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .glyphicon {
    font-size: 20px;

  }
}
.gold {
  color: #a17f22;
}
.text-white {
  color: #fff;
}
.black {
  color: #000;
}h2
.title {
  font-size: 3em;
}
.sub-title {
  font-size: 1em;
}
.gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a17f22+0,ffffff+50,a17f22+100 */
  background: #a17f22; /* Old browsers */
  background: -moz-linear-gradient(left,  #a17f22 0%, #ffffff 50%, #a17f22 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #a17f22 0%,#ffffff 50%,#a17f22 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #a17f22 0%,#ffffff 50%,#a17f22 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a17f22', endColorstr='#a17f22',GradientType=1 ); /* IE6-9 */

}

.pad10{
  padding: 10px;
}

.table tbody tr td,
.table tbody tr th,
.table>tfoot tr td,
.table tfoot tr th,
.table thead tr td,
.table thead tr th {
  padding: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom : 2px solid #3fa63b;
}

.tbl-title-md,
.tbl-title-bg {
  background-color:#026900;
  font-weight: bold;
}

.tbl-logo-bg{background-color:#666666;}
.tbl-logo-bg img{height: 50px; width: auto;}
.glyphicon{font-size: 3em;}

.table-holder {
  position: absolute;
  left: 5vw;
  top: 200px;
  height: calc(100vh - 260px);
  width: 90vw;
  display: table;
}
.table-holder .table-div{
  display: table-cell;
  vertical-align: middle;
  text-align:center;
}

.table tbody tr td {
  vertical-align: middle;
  text-align:center;
}

.mid-section {
  display: table-cell;
  vertical-align: middle;
  height: 60vh;
  text-align: center;
  width: 100vw;
}

.mid-section h2 {
  margin-bottom: 20px;
}

@media only screen and (min-device-height : 1024px) {
  .table-holder {
    top: 15vh;
    height: 85vh;
  }
}

.table > tbody > tr > td div {
  padding: 5px 10px;
}

.split-cell {
  border-bottom-width: 1px !important;
  border-bottom-style: dashed !important;
}

.footer h5 {
  width: 25%;
  white-space: nowrap;
  text-align: right;
}
.footer h5.time {
  text-align: left;
}

/* summury.css */
.table.table-desc tbody tr:first-child td{
  border-bottom : 2px solid #3fa63b;

}
.table.table-desc{
  margin: 0px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #3fa63b;
  margin: 1em 0;
  padding: 0; 
}

/** Search **/
div#keyboard{
  bottom: 30%;
}
#search{
  position: absolute;
  bottom: 40%;
  left: 50%;
  margin-left: -37.5%;
  width: 75%;
}
/** touch results **/
#results {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -37.5%;
  width: 75%;
  height: 10%;
  z-index: 100;
}
#custom-search-input{
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
}

#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
  font-size: 23px;
}

button{
  background:#fff;
  border-top:solid 1px #000;
  /*text-shadow: 0px 1px 0px rgba(0,0,0,.5);  50% white from bottom */
}
.line {
  background:#fff;
  border-top:solid 1px #000;
  opacity:0.4;
}

.fs-time{
  color: #FEF013;
  font-size: 75px;
  font-weight: 800;
}
#fssec{
  color: #FFF;
  font-size: 25px;
  vertical-align: top;
  position: relative;
  top: 20px;
  left: -20px;
}
.fs-date{
  position: relative;
  top: -25px;
  left: 1%;
  color: #FFF;
}


/** Reservations **/

.content{
  top: 100px;
  position: relative;
}

.event-container{
  /*width: 708px;*/
  /*height: 200px;*/
  margin: 5px auto;
}


.box {
  padding: 10px;
  background: #fff;
  border-radius: .2em;
  box-sizing: border-box;
  width: calc(100% - 100px);
  display: inline-block;
  /*margin: 0 auto;*/
  /*width: 400px;*/
  height: 125px;
  border: 1px solid #363435;
  -webkit-transition: all 1000ms;
  -moz-transition: all 1000ms;
  -ms-transition: all 1000ms;
  -o-transition: all 1000ms;
  transition: all 1000ms;
}

.box h2 {
  font-size: 2em;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.box h2 small {
  font-size: 1em;
  font-weight: bold;
}

.left-col, .middle-col, .right-col{
  float: left;
}
.left-col,
.right-col {
  position: relative;
  height: 100px;
  width: 100px;
  background: #fff;
  border: 1px solid #fff;
  top: 15px;
  vertical-align: middle;
}
.middle-col{
  width: calc(100% - 202px);
}

.left-col {
  border-radius: 4px 0 0 4px;
  left: 1px;
}

.right-col img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 98px;
}
.right-col {
  border-radius: 0 4px 4px 0;
}
.left-col button{
  height: 100%;
  max-width: 100%;
}
.colored-button .btn{
  margin-bottom: 5px;
  color: #000; 
  font-size: 1.5em;
}
.blue, 
.blue:hover { 
  background: #01BCFF; 
  color: #fff;
}
.green,
.green:hover { 
  background: #1bb556; 
  color: #fff;
}
.red,
.red:hover { 
  background: #ff4f0f; 
  color: #fff;
}


.circle {
  position: relative;
  overflow: hidden;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #E94E3D;
  box-shadow: 60px -60px 0 2px #E94E3D, -60px -60px 0 2px #E94E3D, -60px 60px 0 2px #E94E3D, 60px 60px 0 2px #E94E3D, 0 0 0 2px #E94E3D;
}
.circle .icon {
  position: absolute;
  display: block;
  color: #fff;
  font-size: 20px;
}
.circle .i1 {
  top: -22%;
  left: 55px;
}
.circle .i2 {
  top: 42%;
  left: -20px;
}
.circle .i3 {
  top: 70%;
  left: 50px;
}
.circle .i4 {
  top: 42%;
  right: -30px;
}
.circle .line1,
.circle .line2 {
  position: absolute;
  top: 60px;
  left: 60px;
  border-top: 1px solid #fff;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}
.circle .line2 {
  transform: rotate(-45deg);
}
.circle .text {
  position: absolute;
  top: 38px;
  left: 30px;
  width: 60px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font: 18px sans-serif;
  transition: opacity .2s ease;
}
.circle:hover {
  animation: border .4s ease 1 forwards;
  cursor: none;
}
.circle:hover .text {
  opacity: 0;
}
.circle:hover .line1,
.circle:hover .line2 {
  animation: line .5s ease .45s forwards;
}
.circle:hover .i1 {
  animation: icon1 .5s ease .8s forwards;
}
.circle:hover .i2 {
  animation: icon2 .5s ease .9s forwards;
}
.circle:hover .i3 {
  animation: icon3 .5s ease 1.0s forwards;
}
.circle:hover .i4 {
  animation: icon4 .5s ease 1.1s forwards;
}
@keyframes border {
  0% {
    box-shadow: 60px -60px 0 2px #E94E3D, -60px -60px 0 2px #E94E3D, -60px 60px 0 2px #E94E3D, 60px 60px 0 2px #E94E3D, 0 0 0 2px #E94E3D;
  }
  25% {
    box-shadow: 0 -125px 0 2px #E94E3D, -60px -60px 0 2px #E94E3D, -60px 60px 0 2px #E94E3D, 60px 60px 0 2px #E94E3D, 0 0 0 2px #fff;
  }
  50% {
    box-shadow: 0 -125px 0 2px #E94E3D, -125px 0px 0 2px #E94E3D, -60px 60px 0 2px #E94E3D, 60px 60px 0 2px #E94E3D, 0 0 0 2px #fff;
  }
  75% {
    box-shadow: 0 -125px 0 2px #E94E3D, -125px 0px 0 2px #E94E3D, 0px 125px 0 2px #E94E3D, 60px 60px 0 2px #E94E3D, 0 0 0 2px #fff;
  }
  100% {
    box-shadow: 0 -125px 0 2px #E94E3D, -125px 0px 0 2px #E94E3D, 0px 125px 0 2px #E94E3D, 120px 40px 0 2px #E94E3D, 0 0 0 2px #fff;
  }
}
@keyframes icon1 {
  0% {
    top: -25px;
  }
  100% {
    top: 10px;
  }
}
@keyframes icon2 {
  0% {
    left: -20px;
  }
  100% {
    left: 15px;
  }
}
@keyframes icon3 {
  0% {
    bottom: -25px;
  }
  100% {
    bottom: 10px;
  }
}
@keyframes icon4 {
  0% {
    right: -25px;
  }
  100% {
    right: 15px;
  }
}
@keyframes line {
  0% {
    left: 60px;
    width: 0;
  }
  100% {
    left: 10px;
    width: 100px;
  }
}


#content{

}
header .engraved { 
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
  width: calc(100% - 500px);
  display: inline-block;
}

/** Loader **/
.loader {
  position: absolute;
  bottom: 25px;
  right: 25px;
  border: 3px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 3px solid #363435;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/** touch page **/
.search-loader{
  position: fixed;
  top: 40%;
  left: 50%;
  border: 3px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 3px solid #363435;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
#touch-icon{
  position: relative;
  left: 40%;
}

.mat-label {
  display: block;
  font-size: 2em;
  transform: translateY(100px);
  color: #e2e2e2;
  transition: all 0.5s;
}

.mat-input.ui-widget-content {
  position: relative;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 5em;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;

}

.mat-div {
  padding: 30px 0 0 0;
  position: relative;
}

.mat-div:after, .mat-div:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e2e2e2; 
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.mat-div::after {
  background-color: #000;
  transform: scaleX(0);
}

.is-active::after {
  transform: scaleX(1);
}

.is-active .mat-label {
  color: #000;
}

.is-completed .mat-label {
  font-size: 12px;
  transform: translateY(0);
}

/** jquery ui **/
.ui-keyboard.ui-widget-content{
  bottom: calc(40% - 240px);
  background: #282828;
  border: 1px solid #484848;
}
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}
.ui-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: 0;
}
.ui-widget-content {
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #333333;
}
.ui-menu .ui-menu-item {
  margin: 0;
  cursor: pointer;
  /* support: IE10, see #8844 */
  list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}
.ui-menu .ui-menu-item-wrapper {
  position: relative;
  padding: 3px 1em 3px .4em;
}
.ui-menu .ui-menu-divider {
  margin: 5px 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-width: 1px 0 0 0;
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
  margin: -1px;
}
.ui-menu-item-wrapper{
  font-size: 3em;
}
