/*
The following content was designed & implemented under AlexSeif.com
*/
/* 
    Created on : Dec 17, 2017, 10:44:09 AM
    Author     : Alex Seif <me@alexseif.com>
*/

.table.table-desc tbody tr:first-child td{
  border-bottom : 2px solid #3fa63b;

}
.table.table-desc{
  margin: 0px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #3fa63b;
  margin: 1em 0;
  padding: 0; 
}