/*
The following content was designed & implemented under AlexSeif.com
*/
/* 
    Created on : Nov 24, 2017, 9:26:57 AM
    Author     : Alex Seif <me@alexseif.com>
*/

.sub-title {
  font-size: 1em;
}
.gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a17f22+0,ffffff+50,a17f22+100 */
  background: #a17f22; /* Old browsers */
  background: -moz-linear-gradient(left,  #a17f22 0%, #ffffff 50%, #a17f22 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #a17f22 0%,#ffffff 50%,#a17f22 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #a17f22 0%,#ffffff 50%,#a17f22 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a17f22', endColorstr='#a17f22',GradientType=1 ); /* IE6-9 */

}


.heig {
  min-height:30px;
  color: white;
}

.table tbody tr td,
.table tbody tr th,
.table>tfoot tr td,
.table tfoot tr th,
.table thead tr td,
.table thead tr th {
  padding: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom : 2px solid #3fa63b;
}
.table > tbody > tr > td {
  vertical-align: middle;
  text-align:center;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #3fa63b;
  margin: 1em 0;
  padding: 0; 
}	
.table{
  width: 70%;
  max-width: 100%;
  margin:0 15% 5% 15%;
}
