/*responsive CSS 
 Author: Raj Ariyan */
 
 @media only screen and (min-width: 769px) and (max-width: 995px) {
	 .res{
		 padding-left: 10%;
	 }
 }
  @media only screen and (min-width: 569px) and (max-width: 768px) {
	 .res{
		 padding-left: 5%;
	 }
 }
 @media only screen and (min-width: 469px) and (max-width: 568px) {
	 .res{
		 padding-left: 5%;
	 }
 }
 @media only screen and (min-width: 369px) and (max-width: 468px) {
	 .res{
		 padding-left: 3.5%;
	 }
 }
 @media only screen and (max-width: 368px) {
	 .res{
		 padding-left: 2%;
		 font-size: 12px;
	 }
 }